@model AppCenfoMusica.Web.ViewModels.LoginVM
@{
    ViewBag.Title = "Login";
}
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnurl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.HiddenFor(model => model.UserType)
    @Html.HiddenFor(model => model.IsAuthenticated)
    @Html.HiddenFor(model => model.ReturnUrl)

    <div class="card">
        <div class="card-header">
            <h2>Ingrese su usuario y contraseña</h2>
          </div>
        <div class="card-body">
            <div class="card-group">
                <div class="card-text">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" />
                    <span asp-validation-for="Username"></span>
                </div>

                <div class="card-text">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="card-text">
                    <input class="btn btn-primary card-img-bottom" type="submit" value="Login" />
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="list-group">
        <div>Uusario No registrado</div>
        <div class="btn-group">

        @if(ViewBag.UserType == "Vendedor")
        {
            @Html.ActionLink("Registrar Cliente","AgregarCliente", "Cliente", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-primary" })
        }
            @Html.ActionLink("Registrar Vendedor","AgregarVendedor", "Vendedor", new {/* id=item.IdEntidad */ }, new { @class = "btn btn-outline-primary" })
        </div>
    </div>


</form>
