@model AppCenfoMusica.Web.ViewModels.GestionProductosVM

@{
    ViewData["Title"] = "BuscarProductoPorID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de producto</h1>
<br />
<h4>@ViewBag.ProductosBodega</h4>
<h5>@ViewData["TotalProductos"]</h5>
<br />
@if (Model.Error == null)
{
    if (ViewBag.Accion != null)
    {
        <div class="alert alert-success">@ViewBag.Accion</div>
    }
    <br />
    <form asp-action="BuscarProductoPorID">
    <div class="card">
        <div class="card-header">
            <b>@Model.Producto.Nombre</b>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Producto.PrecioUnitario)
                    </td>
                    <td>
                        @Model.Producto.PrecioUnitario
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Producto.TipoProducto)
                    </td>
                    <td>
                        @Model.Producto.TipoProducto
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Producto.CantidadBodega)
                    </td>
                    <td>
                        @Model.Producto.CantidadBodega
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
        @Html.HiddenFor(model => model.Producto.IdEntidad)
        @Html.DisplayNameFor(model => model.CantidadXProducto)
        <div>
            @Html.TextBoxFor(model => model.CantidadXProducto, new { @class = "form-control" })
            <br />
            <input type="submit" value="Agregar al Carrito" class="btn btn-primary" />

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-success">@ViewBag.Mensaje</div>
            }
            else
            {
                if (ViewBag.MensajeError != null)
                {
                    <div class="alert alert-success">@ViewBag.MensajeError</div>
                }
            }
        </div>
    </form>
    <div class="btn-group">
        <a class="btn btn-outline-info" asp-action="ListarProductos">Regresar</a>
        @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-outline-info" })
        <a class="btn btn-outline-info" href="#">Agregar al carrito</a>
    </div>
}
else
{
    <div class="alert alert-danger">
        @Model.Error.MensajeError
    </div>
    <br />
    <a class="btn btn-outline-info" asp-action="ListarProductos">Regresar</a>
}
