@model AppCenfoMusica.Web.ViewModels.GestionProductosVM

@{
    ViewData["Title"] = "BuscarProductoPorID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de producto</h1>
<br />
@if (Model.Error == null)
{
    if (ViewBag.Accion != null)
    {
        <div class="alert alert-success">@ViewBag.Accion</div>
    }
    if (ViewBag.ProductosBodega != null)
    {
        <h4>@ViewBag.ProductosBodega</h4>
    }
    if (ViewData["TotalProductos"] != null)
    {
        <h5>@ViewData["TotalProductos"]</h5>
    }

    <br />
    <form asp-action="BuscarProductoPorID">

        @Html.HiddenFor(model => model.Producto.CantidadBodega)
        @Html.HiddenFor(model => model.Producto.TipoProducto)
        @Html.HiddenFor(model => model.Producto.Nombre)
        @Html.HiddenFor(model => model.Producto.PrecioUnitario)
        @Html.HiddenFor(model => model.Producto.TipoProducto)
    <div class="card">
        <div class="card-header">
            <b>@Model.Producto.Nombre</b>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Producto.PrecioUnitario)
                    </td>
                    <td>
                        @Model.Producto.PrecioUnitario
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Producto.TipoProducto)
                    </td>
                    <td>
                        @Model.Producto.TipoProducto
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Producto.CantidadBodega)
                    </td>
                    <td>
                        @Model.Producto.CantidadBodega
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
        @Html.HiddenFor(model => model.Producto.IdEntidad)
        @if (ViewBag.UserType == "Cliente")
        {
            @Html.DisplayNameFor(model => model.CantidadXProducto)
            <div>
                @Html.TextBoxFor(model => model.CantidadXProducto, new { @class = "form-control" })
                <br />
                <input type="submit" value="Agregar al Carrito" class="btn btn-primary" />
            </div>
        }
        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-success">@ViewBag.Mensaje</div>
        }
        else
        {
            if (ViewBag.MensajeError != null)
            {
                <div class="alert alert-success">@ViewBag.MensajeError</div>
            }
        }
    </form>
    <div class="btn-group">
        <a class="btn btn-outline-info" asp-action="ListarProductos">Regresar</a>
        @if (ViewBag.UserType == "Vendedor")
        {
            @Html.ActionLink("Editar", "ActualizarProducto", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-outline-info" })
        }
@*        @if (ViewBag.UserType == "Cliente")
        {
            <a class="btn btn-outline-info" href="#">Agregar al carrito</a>
        }*@
    </div>
}
else
{
    <div class="alert alert-danger">
        @Model.Error.MensajeError
    </div>
    <br />
    <a class="btn btn-outline-info" asp-action="ListarProductos">Regresar</a>
}
