@model AppCenfoMusica.DTO.ClienteDTO

@{
    ViewData["Title"] = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Cliente</h1>

<h4>Cliente</h4>
<hr />
@if (ViewBag.UserType == "Vendedor")
{
    @using (Html.BeginForm())
    {
        if (ViewBag.TipoCliente != null)
        {
            <div class="alert alert-info">@ViewBag.TipoCliente</div>

        }
        if (ViewBag.Accion != null)
        {
            <div class="alert alert-success">@ViewBag.Accion</div>
        }

        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditarDatos">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(model => model.IdEntidad)
                    @Html.HiddenFor(model => model.Nombre)
                    @Html.HiddenFor(model => model.Cedula)
                    @Html.HiddenFor(model => model.NombreUsuario)
                    @Html.HiddenFor(model => model.Contrasena)
                    @Html.HiddenFor(model => model.Sexo)
                    @Html.HiddenFor(model => model.FechaNacimiento)
                    @Html.HiddenFor(model => model.Estado)
                    <div asp-validation-summary="ModelOnly" class="text-danger "></div>

                <span class="card">
                        <div class="card-header">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <label class="disabled">@Model.Nombre</label>
                                @*<span asp-validation-for="Nombre" class="text-danger"></span>*@
                    </div>

                    </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="Cedula" class="control-label"></label>
                                    <label class="disabled">@Model.Cedula</label>
                                    @*<span asp-validation-for="Cedula" class="text-danger"></span>*@
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreUsuario" class="control-label"></label>
                                    <label class="disabledl">@Model.NombreUsuario</label>
                                    @*            <span asp-validation-for="NombreUsuario" class="text-danger"></span>*@
                                </div>

                    </div>
                </span>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>*@
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    @*                <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
                </div>*@
                    <div class="form-group">
                        <input type="submit" value="EditarDatos" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
    <div>
        <a asp-action="ListarClientes">Back to List</a>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }