@model AppCenfoMusica.DTO.ClienteDTO

@{
    ViewData["Title"] = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Cliente</h1>

<h4>Está seguro que desea eliminar al vendedor?</h4>
<hr />
@if (ViewBag.UserType == "Vendedor")
{
    @using (Html.BeginForm())
    {
        <form asp-action="EliminarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.IdEntidad)
            @Html.HiddenFor(model => model.Nombre)
            @Html.HiddenFor(model => model.NombreUsuario)
            @Html.HiddenFor(model => model.Cedula)
            @Html.HiddenFor(model => model.Contrasena)
            @Html.HiddenFor(model => model.Estado)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.Sexo)


            @if (ViewBag.TipoVendedor != null)
            {
                <div class="alert alert-info">@ViewBag.TipoVendedor</div>
            }
            @if (ViewData["EstadoVendedor"] != null)
            {
                <div class="alert alert-info">@ViewData["EstadoVendedor"]</div>
            }
            <div class="card">
                <div class="card-header">
                    <b>@Model.Nombre</b>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </td>
                            <td>
                                @Model.Nombre
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NombreUsuario)
                            </td>
                            <td>
                                @Model.NombreUsuario
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Cedula)
                            </td>
                            <td>
                                @Model.Cedula
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Estado)
                            </td>
                            <td>
                                @Model.Estado
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="submit" value="Eliminar Cliente" class="btn btn-primary" name="EliminarCliente" />
                    </div>
                </div>
            </div>
        </form>
        <br />
        <div class="btn-group">
            <a class="btn btn-outline-info" asp-action="ListarClientes">Regresar</a>
        </div>
    }
    <div>
        <a asp-action="ListarClientes">Back to List</a>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }