@model AppCenfoMusica.Web.ViewModels.GestionClientesVM

@{
    ViewData["Title"] = "ListarClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado total de Clientes</h1>
<br />
@if(ViewBag.UserType == "Vendedor")
{
    <p>
        <a asp-action="AgregarCliente" class="btn btn-success">Agregar Cliente</a>
    </p>
}
@if (ViewBag.Accion != null)
{
    <div class="alert alert-success">@ViewBag.Accion</div>
}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaClientes)
        {
            <tr>
                <td>@item.IdEntidad</td>
                <td>@item.Nombre</td>
                <td>@item.NombreUsuario</td>
                <td>@item.Email</td>
                <td>@item.Estado</td>

                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Detalles", "BuscarClientePorID", new { id=item.IdEntidad  }, new { @class = "btn btn-outline-primary" })
                        @if(ViewBag.UserType == "Vendedor")
                        {
                            @Html.ActionLink("Editar Estado", "EditarEstado", new {  id=item.IdEntidad }, new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Editar Datos", "EditarDatos", new {  id=item.IdEntidad }, new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Eliminar", "EliminarCliente", new { id=item.IdEntidad }, new { @class = "btn btn-outline-danger" })

                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
