@model AppCenfoMusica.Web.ViewModels.GestionVendedoresVM

@{
    ViewData["Title"] = "Bienvenido Vendedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido, @Model.Vendedor.NombreUsuario</h1>
<h4>Hora de ingreso: @System.DateTime.Now</h4>
<br />
@if (Model.Error == null)
{
    @if (ViewBag.TipoVendedor != null)
    {
        <div class="alert alert-info">@ViewBag.TipoVendedor</div>
    }
    @if (ViewData["EstadoVendedor"] != null)
    {
        <div class="alert alert-info">@ViewData["EstadoVendedor"]</div>
    }
    <div class="card">
        <div class="card-header">
            <b>@Model.Vendedor.Nombre</b>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Vendedor.Nombre)
                    </td>
                    <td>
                        @Model.Vendedor.Nombre
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Vendedor.NombreUsuario)
                    </td>
                    <td>
                        @Model.Vendedor.NombreUsuario
                    </td>
                </tr>
@*                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Vendedor.Puesto)
                    </td>
                    <td>
                        @Model.Vendedor.Puesto
                    </td>
            </tr>*@
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Vendedor.Estado)
                    </td>
                    <td>
                        @Model.Vendedor.Estado
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="btn-group">
        <a class="btn btn-outline-info" asp-action="ListarVendedores">Regresar</a>
        @Html.ActionLink("Editar Estado", "EditarEstado", new {  id = Model.Vendedor.IdEntidad  }, new { @class = "btn btn-outline-info" })
    </div>
}
else
{
    <div class="alert alert-danger">
        @Model.Error.MensajeError
    </div>
    <br />
    <a class="btn btn-outline-info" asp-action="ListarVendedores">Regresar</a>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
